[Unit]
Description=Play Splash Video
RequiresMountsFor=/run
DefaultDependencies=no
After=local-fs.target
Requires=dev-fb0.device
ConditionPathExists=/etc/init.d/playvideo.sh

[Service]
User=root
ExecStartPre=/bin/sleep 5
ExecStart=/etc/init.d/playvideo.sh
RemainAfterExit=yes
Type=simple

[Install]
WantedBy=sysinit.target
